package templates

import (
	"fmt"
	"net/url"
)

func getOauthUrl(clientId string, redirectUri string) templ.SafeURL {
	return templ.SafeURL(fmt.Sprintf(
		   "https://api.intra.42.fr/oauth/authorize?client_id=%s&redirect_uri=%s&scope=public&response_type=code",
		   clientId, url.QueryEscape(redirectUri),
	))
}

templ Index(clientId string, redirectUri string) {
	@header()
	<div class="flex justify-center">
		<a href={ getOauthUrl(clientId, redirectUri) }>Login with 42</a>
	</div>
}
