package web

templ blackhole() {
	@header()

	<script type="importmap">
		{
			"imports": {
				"three": "https://unpkg.com/three@0.160.1/build/three.module.js",
				"three/addons/": "https://unpkg.com/three@0.160.1/examples/jsm/"
			}
		}
	</script>
	<script type="module" src="static/blackhole.js"></script>
}
